body {
  margin: 0;
  font-family: 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #121212;
  color: #aeaeae;
}

.body-content {
  max-width: 800px;
  margin: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.section--default {
  background: #212121;
  padding: 20px;
  box-shadow: 4px 3px 10px #121212;
  border-radius: 5px;
}

@media screen and (max-width: 640px) {
  .section--default {
    border-radius: 0px;
  }
}

a {
  color: inherit !important;
}

.full-width {
  width: 100%;
}

body,
html,
#root,
.body-content {
  height: 100%;
}
