body {
  margin: 0;
  font-family: 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

.defaultMode {
  background: #121212;
  color: #aeaeae;
  height: 100%;
}

.bodyContent {
  max-width: 800px;
  margin: auto;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@media screen and (max-width: 640px) {
  .section--default {
    border-radius: 0px;
  }
}

a {
  color: inherit !important;
}

.fullWidth {
  width: 100%;
}

.lightMode {
  background: #f2f2f2;
  color: #000000;
}

html {
  height: 100%;
}
