.copyToClipboardContainer {
  border: 1px solid #121212;
  background: #121212;
  color: #fff;
  display: flex;
  padding: 2px;
  flex: 1;
  border-radius: 5px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 10px;
}

.linkTextArea {
  width: 100%;
  border-width: 0px;
  font-family: inherit;
  font-size: 18px;
  outline: none;
  resize: none;
  box-sizing: border-box;
  padding-left: 10px;
  background: #121212;
  color: #aeaeae;
  font-family: monospace;
}

.copyButton {
  color: #aeaeae;
  background: #434343;
  border-width: 1px;
  border-color: #434343;
  font-family: inherit;
  font-size: 18px;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.linkIcon {
  font-size: 20px;
  color: #aeaeae;
}

.copyIcon {
  font-size: '15px';
}

.textAreaContainer {
  flex: 1;
}

.openLink {
  text-align: center;
  margin-top: 10px;
}
.openLink a {
  text-decoration: none;
  display: inline-block;
  border: 1px solid #434343;
  padding: 5px 10px;
  border-radius: 4px;
  transition: 180ms;
  font-size: 12px;
}
.openLink a:hover {
  color: #fff !important;
  border-color: #fff;
}
