.messageContainer {
  padding-bottom: 50px;
}
.messageBlock {
  height: 65vh;
  padding: 20px;
  margin-bottom: 50px;
  background: #212121;
  box-shadow: 4px 3px 10px #121212;
  border-radius: 5px;
  display: flex;
}
