.messageContainer {
  padding-bottom: 50px;
}
.messageBlock {
  background-color: #fff;
  height: 65vh;
  padding: 20px;
  margin-bottom: 50px;
  overflow: auto;
  scroll-behavior: smooth;
}

.sendMessageForm {
  display: flex;
  background: #fff;
  align-items: flex-start;
  border: 1px solid #ddd;
  border-radius: 2px;
  overflow: hidden;
}

.sendMessageInput {
  font-family: inherit;
  font-size: 18px;
  resize: none;
  flex: 1;
  border: 0;
  padding: 10px;
  height: 50px;
  box-sizing: border-box;
  outline: none;
}

.sendButton {
  height: 50px;
  display: flex;
  width: 100px;
  font-family: inherit;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-left: 1px solid #ddd;
  background: #eaedee;
  transition: 180ms;
}
.sendButton:hover {
  background: #fff;
}
.userInfo {
  padding: 15px;
  font-weight: 400;
}

.messageRow {
  word-break: break-all;
  margin-bottom: 20px;
}
.messageRowEncrypted {
  font-family: monospace;
}
