.emojiRow {
  font-size: 18px;
  resize: none;
  flex: 1;
  border: 0;
  height: 50px;
  box-sizing: border-box;
  outline: none;
  background: #000;
  padding: 5px 5px;
}

.lightEmojiRow {
  background: #f2f2f2;
}
