.messageInfo {
  margin-bottom: 25px;
  width: 80%;
}

.messageLeft {
  justify-content: flex-start;
  display: flex;
}

.messageRight {
  justify-content: flex-end;
  display: flex;
}

.messageLeft + .messageLeft .sentReceived {
  display: none;
}

.messageRight + .messageRight .sentReceived {
  display: none;
}

.messageLeft + .messageRight {
  margin-top: 25px;
}

.messageRight + .messageLeft {
  margin-top: 25px;
}

.messageContainer {
  background-color: #363636;
  padding: 10px;
  font-size: 18px;
  min-height: 50px;
  word-break: break-word;
  border-radius: 4px;
}

.sentReceived {
  margin-bottom: 3px;
  font-size: 13px;
  font-weight: 600;
}

.lightModeContainer {
  background-color: #d3d3d3;
}

.messageError {
  color: #828282;
  font-size: 13px;
}
.messageDelivered {
  color: #c8afaf;
  font-size: 13px;
}

.messageRetry {
  display: inline-block;
  cursor: pointer;
  color: #0f8cff;
  margin-left: 5px;
}
