.sendMessageForm {
  display: flex;
  align-items: flex-start;
  border: 1px solid #000;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
}

.lightsendMessageForm {
  border-color: #cbcbcb;
}

.sendMessageInput {
  font-family: inherit;
  font-size: 18px;
  resize: none;
  flex: 1;
  border: 0;
  padding: 10px;
  height: 50px;
  box-sizing: border-box;
  outline: none;
  background: #000;
  color: #fff;
}

.lightMessageInput {
  background: #e2e2e2;
  color: #000000;
  outline: none;
  border-color: #e2e2e2;
}

.sendButton {
  height: 50px;
  display: flex;
  width: 100px;
  font-family: inherit;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #e91e63;
  color: #fff;
  transition: 180ms;
}

.lightModeSend {
  background: #3cb043;
  color: #fff;
}

.lightModeSend:hover {
  background: #028a0f !important;
}

.sendButton:hover {
  background: #ab0b42;
}

@media screen and (max-width: 640px) {
  .sendMessageForm {
    border-radius: 0px;
    border: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.imagePickerContainer {
  margin: 0 10px;
}

.imagePickerLabel {
  cursor: pointer;
}

.inputImagePicker {
  display: none;
}

.imagePickerIcon {
  width: 45px;
  height: auto;
}
