.messageInfo {
  margin-bottom: 25px;
  width: 80%;
}

.messageLeft {
  justify-content: flex-start;
  display: flex;
}

.messageRight {
  justify-content: flex-end;
  display: flex;
}

.messageLeft + .messageLeft .sentReceived {
  display: none;
}

.messageRight + .messageRight .sentReceived {
  display: none;
}

.messageLeft + .messageRight {
  margin-top: 25px;
}

.messageRight + .messageLeft {
  margin-top: 25px;
}

.messageContainer {
  background-color: #e2e2e2;
  padding: 10px;
  font-size: 18px;
  min-height: 50px;
  word-break: break-word;
}

.sentReceived {
  margin-bottom: 3px;
  font-size: 13px;
  font-weight: 600;
}
